@model Course

<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
           Course information card
        </p>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Crs_Id:</strong> @Model.Crs_Id</li>
        <li class="list-group-item"><strong>Description:</strong> @Model.Description</li>
        <li class="list-group-item"><strong>Mindegree:</strong> @Model.Mindegree</li>
        <li class="list-group-item">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Topics
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    @foreach (var top in Model.Topics)
                    {
                        <li><a class="dropdown-item" href="#">@top</a></li>
                    }
                </ul>
            </div>
            
        </li>
    </ul>

    <div class="card-body">
        <a asp-action="GetAll" asp-controller="Course" asp-route-id="@Model.Crs_Id" class="card-link">Back to List</a>
        @* <a class="link-dark" asp-action="Edit" asp-controller="Department" asp-route-id="@Model.Dept_Id">Edit</a> *@

        @* <a href="/Student/Edit/@Model.SSN" class="card-link">Edit</a> *@
    </div>
</div>